NODERED_FLOWS_MES_API_FIXED.json
[
  {
    "id": "tab_main_api",
    "type": "tab",
    "label": "MES API - Summary Endpoints (FIXED)",
    "disabled": false,
    "info": "5 Primary aggregator endpoints for React frontend compatibility"
  },
  {
    "id": "http_resp_main",
    "type": "http response",
    "z": "tab_main_api",
    "name": "HTTP 200 JSON",
    "statusCode": "",
    "headers": {},
    "x": 1100,
    "y": 60,
    "wires": []
  },
  {
    "id": "http_in_overview",
    "type": "http in",
    "z": "tab_main_api",
    "name": "GET /api/overview",
    "url": "/api/overview",
    "method": "get",
    "upload": false,
    "x": 60,
    "y": 60,
    "wires": [["fn_overview"]]
  },
  {
    "id": "fn_overview",
    "type": "function",
    "z": "tab_main_api",
    "name": "Aggregate Overview",
    "func": "const s = global.get(\"mesSnapshot\") || { values: {}, updatedAt: null, count: 0 };\nconst values = s.values || {};\n\nfunction n(m, p, node, d = 0) {\n    const candidates = [`${m}|${p}|${node}`, `${m}|none|${node}`, `${m}|${p || \"none\"}|${node}`];\n    for (const k of candidates) {\n        if (values[k] !== undefined && values[k] !== null && values[k] !== \"\") {\n            const num = Number(values[k]);\n            if (Number.isFinite(num)) return num;\n        }\n    }\n    return d;\n}\n\nfunction b(m, p, node) { return n(m, p, node, 0) === 1 ? 1 : 0; }\nfunction round(x, d = 2) { return Math.round((Number(x) || 0) * Math.pow(10, d)) / Math.pow(10, d); }\nfunction clamp(x, min, max) { return Math.max(min, Math.min(max, x)); }\n\nconst pe = n(\"powergrid\", \"PLC2\", \"PE.Power\");\nconst fs = n(\"powergrid\", \"PLC2\", \"FS.Power\");\nconst gs = n(\"powergrid\", \"PLC2\", \"GS.Power\");\nconst productionTotal = pe + fs + gs;\n\nconst tap = n(\"powergrid\", \"PLC2\", \"TAP\", productionTotal);\nconst factoryDemand = n(\"powergrid\", \"PLC2\", \"MES.FactoryDemand\");\nconst homesDemand = n(\"powergrid\", \"PLC2\", \"MES.HomesDemand\");\nconst railwayDemand = n(\"powergrid\", \"PLC2\", \"MES.RailwayDemand\");\nconst losses = n(\"powergrid\", \"PLC2\", \"MES.Losses\");\n\nconst tcpComputed = factoryDemand + homesDemand + railwayDemand + losses;\nconst tcp = tcpComputed > 0 ? tcpComputed : n(\"powergrid\", \"PLC2\", \"TCP\", 0);\nconst delta = tap - tcp;\n\nconst installationActive = b(\"factory\", \"none\", \"EtatInstallation\");\nconst plantOperational = b(\"factory\", \"none\", \"EtatUsine\") || b(\"factory\", \"none\", \"MES.FactoryRunning\");\nconst cycleActive = b(\"factory\", \"none\", \"MES.CycleActive\") || b(\"factory\", \"none\", \"CycleActif\");\nconst cycleFinished = b(\"factory\", \"none\", \"MES.CycleDone\") || b(\"factory\", \"none\", \"CycleTermine\");\nconst recyclingActive = b(\"factory\", \"none\", \"MES.RecycleActive\") || b(\"factory\", \"none\", \"RecyclageActif\");\n\nconst step1 = b(\"railauto\", \"none\", \"Etape1.Terminee\");\nconst step2 = b(\"railauto\", \"none\", \"Etape2.Terminee\");\nconst step3 = b(\"railauto\", \"none\", \"Etape3.Terminee\");\nconst step4 = b(\"railauto\", \"none\", \"Etape4.Terminee\");\n\nconst completedSteps = step1 + step2 + step3 + step4;\nconst progressPct = completedSteps * 25;\n\nconst energyScore = tap > 0 ? clamp(Math.round((1 - Math.abs(delta) / Math.max(tap, 1)) * 100), 0, 100) : 0;\nconst factoryScore = clamp(Math.round(installationActive * 30 + plantOperational * 30 + cycleActive * 20 + (cycleFinished > 0 ? 10 : 0) + (1 - recyclingActive) * 10), 0, 100);\nconst railScore = clamp(progressPct, 0, 100);\nconst globalScore = Math.round((energyScore + factoryScore + railScore) / 3);\n\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = {\n    powergrid: { tap: round(tap), tcp: round(tcp), delta: round(delta), totalProduction: round(productionTotal || tap) },\n    factory: { installationActive, cycleActive, cycleFinished: cycleFinished > 0 ? 1 : 0 },\n    railauto: { completedSteps, progressPct },\n    scores: { energy: energyScore, factory: factoryScore, rail: railScore, global: globalScore },\n    alerts: { deficit: delta < 0 ? 1 : 0, factoryBlocked: installationActive ? 0 : 1, railBlocked: progressPct < 25 ? 1 : 0 },\n    status: delta < 0 ? \"deficit\" : globalScore >= 70 ? \"stable\" : \"degraded\",\n    generatedAt: new Date().toISOString(),\n    sourceUpdatedAt: s.updatedAt,\n    pointCount: s.count || 0\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 60,
    "wires": [["http_resp_main"]]
  },
  {
    "id": "http_in_pg_summary",
    "type": "http in",
    "z": "tab_main_api",
    "name": "GET /api/powergrid/summary",
    "url": "/api/powergrid/summary",
    "method": "get",
    "upload": false,
    "x": 60,
    "y": 140,
    "wires": [["fn_pg_summary"]]
  },
  {
    "id": "fn_pg_summary",
    "type": "function",
    "z": "tab_main_api",
    "name": "Aggregate PowerGrid Summary",
    "func": "const s = global.get(\"mesSnapshot\") || { values: {}, updatedAt: null, count: 0 };\nconst values = s.values || {};\n\nfunction n(m, p, node, d = 0) {\n    const candidates = [`${m}|${p}|${node}`, `${m}|none|${node}`, `${m}|${p || \"none\"}|${node}`];\n    for (const k of candidates) {\n        if (values[k] !== undefined && values[k] !== null && values[k] !== \"\") {\n            const num = Number(values[k]);\n            if (Number.isFinite(num)) return num;\n        }\n    }\n    return d;\n}\n\nfunction bool(m, p, node) { return n(m, p, node, 0) === 1; }\nfunction round(x, d = 2) { return Math.round((Number(x) || 0) * Math.pow(10, d)) / Math.pow(10, d); }\n\nconst pe = n(\"powergrid\", \"PLC2\", \"PE.Power\");\nconst fs = n(\"powergrid\", \"PLC2\", \"FS.Power\");\nconst gs = n(\"powergrid\", \"PLC2\", \"GS.Power\");\nconst productionTotal = pe + fs + gs;\n\nconst tap = n(\"powergrid\", \"PLC2\", \"TAP\", productionTotal);\nconst factoryDemand = n(\"powergrid\", \"PLC2\", \"MES.FactoryDemand\");\nconst homesDemand = n(\"powergrid\", \"PLC2\", \"MES.HomesDemand\");\nconst railwayDemand = n(\"powergrid\", \"PLC2\", \"MES.RailwayDemand\");\nconst losses = n(\"powergrid\", \"PLC2\", \"MES.Losses\");\n\nconst tcpComputed = factoryDemand + homesDemand + railwayDemand + losses;\nconst tcpFromPlc = n(\"powergrid\", \"PLC2\", \"TCP\", tcpComputed);\nconst tcp = tcpComputed > 0 ? tcpComputed : tcpFromPlc;\nconst delta = tap - tcp;\n\nconst factoryServed = bool(\"powergrid\", \"PLC2\", \"MES.FactoryServed\");\nconst homesServed = bool(\"powergrid\", \"PLC2\", \"MES.HomesServed\");\nconst railwayServed = bool(\"powergrid\", \"PLC2\", \"MES.RailwayServed\");\nconst deficitActive = bool(\"powergrid\", \"PLC2\", \"MES.DeficitActive\") || delta < 0;\n\nconst total = productionTotal || tap || 0;\nconst anomalySummary = [];\nif (tap <= 0) anomalySummary.push({ code: \"NO_TAP\", severity: \"high\", message: \"Total available power is zero.\" });\nif (tcp <= 0) anomalySummary.push({ code: \"NO_TCP\", severity: \"medium\", message: \"Total consumed power is zero.\" });\nif (deficitActive) anomalySummary.push({ code: \"DEFICIT\", severity: \"critical\", message: \"Demand exceeds available production.\" });\nif (losses > 40) anomalySummary.push({ code: \"HIGH_LOSSES\", severity: \"medium\", message: \"Electrical losses are high.\" });\n\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = {\n    tap: round(tap),\n    tcp: round(tcp),\n    delta: round(delta),\n    balanceStatus: delta < 0 ? \"deficit\" : Math.abs(delta) < 0.01 ? \"balanced\" : \"surplus\",\n    totalProduction: round(productionTotal || tap),\n    totalConsumption: round(tcp),\n    sourceMix: { pe: total ? round((pe / total) * 100, 1) : 0, fs: total ? round((fs / total) * 100, 1) : 0, gs: total ? round((gs / total) * 100, 1) : 0 },\n    generation: { pe: round(pe), fs: round(fs), gs: round(gs) },\n    losses: round(losses),\n    reserve: round(delta),\n    servedStatus: [\n        { name: \"Factory\", served: factoryServed, demand: round(factoryDemand) },\n        { name: \"Homes\", served: homesServed, demand: round(homesDemand) },\n        { name: \"Railway\", served: railwayServed, demand: round(railwayDemand) }\n    ],\n    anomalySummary,\n    generatedAt: new Date().toISOString(),\n    sourceUpdatedAt: s.updatedAt,\n    pointCount: s.count || 0\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 140,
    "wires": [["http_resp_main"]]
  },
  {
    "id": "http_in_factory_summary",
    "type": "http in",
    "z": "tab_main_api",
    "name": "GET /api/factory/summary",
    "url": "/api/factory/summary",
    "method": "get",
    "upload": false,
    "x": 60,
    "y": 220,
    "wires": [["fn_factory_summary"]]
  },
  {
    "id": "fn_factory_summary",
    "type": "function",
    "z": "tab_main_api",
    "name": "Aggregate Factory Summary",
    "func": "const s = global.get(\"mesSnapshot\") || { values: {}, updatedAt: null, count: 0 };\nconst values = s.values || {};\n\nfunction n(m, p, node, d = 0) {\n    const candidates = [`${m}|${p}|${node}`, `${m}|none|${node}`, `${m}|${p || \"none\"}|${node}`];\n    for (const k of candidates) {\n        if (values[k] !== undefined && values[k] !== null && values[k] !== \"\") {\n            const num = Number(values[k]);\n            if (Number.isFinite(num)) return num;\n        }\n    }\n    return d;\n}\n\nfunction b(m, p, node) { return n(m, p, node, 0) === 1 ? 1 : 0; }\nfunction clamp(x, min, max) { return Math.max(min, Math.min(max, x)); }\n\nconst installationActive = b(\"factory\", \"none\", \"EtatInstallation\");\nconst plantOperational = b(\"factory\", \"none\", \"EtatUsine\") || b(\"factory\", \"none\", \"MES.FactoryRunning\");\nconst cycleActive = b(\"factory\", \"none\", \"MES.CycleActive\") || b(\"factory\", \"none\", \"CycleActif\");\nconst cycleFinished = b(\"factory\", \"none\", \"MES.CycleDone\") || b(\"factory\", \"none\", \"CycleTermine\");\nconst recyclingActive = b(\"factory\", \"none\", \"MES.RecycleActive\") || b(\"factory\", \"none\", \"RecyclageActif\");\n\nconst cuve1Low = b(\"factory\", \"none\", \"Cuve1.NiveauBas\");\nconst cuve1High = b(\"factory\", \"none\", \"Cuve1.NiveauHaut\");\nconst cuve2Low = b(\"factory\", \"none\", \"Cuve2.NiveauBas\");\nconst cuve2High = b(\"factory\", \"none\", \"Cuve2.NiveauHaut\");\n\nconst tank1Level = cuve1High ? 100 : cuve1Low ? 20 : 60;\nconst tank2Level = cuve2High ? 100 : cuve2Low ? 20 : 60;\nconst fullCount = (cuve1High ? 1 : 0) + (cuve2High ? 1 : 0);\nconst lowCount = (cuve1Low ? 1 : 0) + (cuve2Low ? 1 : 0);\n\nconst efficiencyScore = clamp(Math.round(installationActive * 25 + plantOperational * 25 + cycleActive * 20 + cycleFinished * 10 + (1 - recyclingActive) * 10 + (2 - lowCount) * 5), 0, 100);\n\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = {\n    installationActive,\n    plantOperational,\n    cycleActive,\n    cycleFinished: cycleFinished > 0 ? 1 : 0,\n    recyclingActive,\n    efficiencyScore,\n    tanks: { tank1Low: cuve1Low ? 20 : tank1Level, tank1High: tank1Level, tank2Low: cuve2Low ? 20 : tank2Level, tank2High: tank2Level },\n    tankSummary: { fullCount, lowCount },\n    generatedAt: new Date().toISOString(),\n    sourceUpdatedAt: s.updatedAt,\n    pointCount: s.count || 0\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 220,
    "wires": [["http_resp_main"]]
  },
  {
    "id": "http_in_rail_summary",
    "type": "http in",
    "z": "tab_main_api",
    "name": "GET /api/railauto/summary",
    "url": "/api/railauto/summary",
    "method": "get",
    "upload": false,
    "x": 60,
    "y": 300,
    "wires": [["fn_rail_summary"]]
  },
  {
    "id": "fn_rail_summary",
    "type": "function",
    "z": "tab_main_api",
    "name": "Aggregate RailAuto Summary",
    "func": "const s = global.get(\"mesSnapshot\") || { values: {}, updatedAt: null, count: 0 };\nconst values = s.values || {};\n\nfunction n(m, p, node, d = 0) {\n    const candidates = [`${m}|${p}|${node}`, `${m}|none|${node}`, `${m}|${p || \"none\"}|${node}`];\n    for (const k of candidates) {\n        if (values[k] !== undefined && values[k] !== null && values[k] !== \"\") {\n            const num = Number(values[k]);\n            if (Number.isFinite(num)) return num;\n        }\n    }\n    return d;\n}\n\nfunction b(m, p, node) { return n(m, p, node, 0) === 1 ? 1 : 0; }\nfunction clamp(x, min, max) { return Math.max(min, Math.min(max, x)); }\n\nconst step1 = b(\"railauto\", \"none\", \"Etape1.Terminee\");\nconst step2 = b(\"railauto\", \"none\", \"Etape2.Terminee\");\nconst step3 = b(\"railauto\", \"none\", \"Etape3.Terminee\");\nconst step4 = b(\"railauto\", \"none\", \"Etape4.Terminee\");\n\nconst active1 = b(\"railauto\", \"none\", \"Etape1.Activation\");\nconst active2 = b(\"railauto\", \"none\", \"Etape2.Activation\");\nconst active3 = b(\"railauto\", \"none\", \"Etape3.Activation\");\nconst active4 = b(\"railauto\", \"none\", \"Etape4.Activation\");\n\nconst completedSteps = step1 + step2 + step3 + step4;\nconst activeSteps = active1 + active2 + active3 + active4;\nconst progress = clamp(completedSteps * 25, 0, 100);\nconst ratio = progress / 100;\n\nlet blockRisk = 10;\nif (activeSteps > 1) blockRisk = 70;\nif (completedSteps === 0 && activeSteps === 0) blockRisk = 30;\nif (progress === 100) blockRisk = 0;\n\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = {\n    progress,\n    ratio,\n    blockRisk,\n    completedSteps,\n    step1,\n    step2,\n    step3,\n    step4,\n    generatedAt: new Date().toISOString(),\n    sourceUpdatedAt: s.updatedAt,\n    pointCount: s.count || 0\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 300,
    "wires": [["http_resp_main"]]
  },
  {
    "id": "http_in_alerts",
    "type": "http in",
    "z": "tab_main_api",
    "name": "GET /api/alerts",
    "url": "/api/alerts",
    "method": "get",
    "upload": false,
    "x": 60,
    "y": 380,
    "wires": [["fn_alerts"]]
  },
  {
    "id": "fn_alerts",
    "type": "function",
    "z": "tab_main_api",
    "name": "Aggregate Alerts",
    "func": "const s = global.get(\"mesSnapshot\") || { values: {}, updatedAt: null, count: 0 };\nconst values = s.values || {};\n\nfunction n(m, p, node, d = 0) {\n    const candidates = [`${m}|${p}|${node}`, `${m}|none|${node}`, `${m}|${p || \"none\"}|${node}`];\n    for (const k of candidates) {\n        if (values[k] !== undefined && values[k] !== null && values[k] !== \"\") {\n            const num = Number(values[k]);\n            if (Number.isFinite(num)) return num;\n        }\n    }\n    return d;\n}\n\nfunction bool(m, p, node) { return n(m, p, node, 0) === 1; }\n\nconst now = new Date().toISOString();\nconst alerts = [];\n\nconst tap = n(\"powergrid\", \"PLC2\", \"TAP\");\nconst factoryDemand = n(\"powergrid\", \"PLC2\", \"MES.FactoryDemand\");\nconst homesDemand = n(\"powergrid\", \"PLC2\", \"MES.HomesDemand\");\nconst railwayDemand = n(\"powergrid\", \"PLC2\", \"MES.RailwayDemand\");\nconst losses = n(\"powergrid\", \"PLC2\", \"MES.Losses\");\nconst tcp = factoryDemand + homesDemand + railwayDemand + losses;\nconst delta = tap - tcp;\n\nconst deficitActive = bool(\"powergrid\", \"PLC2\", \"MES.DeficitActive\") || delta < 0;\nif (deficitActive) alerts.push({ id: \"PG_DEFICIT\", code: \"PG_DEFICIT\", severity: \"critical\", area: \"PowerGrid\", message: \"Energy demand exceeds available production.\", timestamp: now });\nif (losses > 40) alerts.push({ id: \"PG_HIGH_LOSSES\", code: \"PG_HIGH_LOSSES\", severity: \"medium\", area: \"PowerGrid\", message: \"Electrical losses are above acceptable threshold.\", timestamp: now });\nif (!bool(\"factory\", \"none\", \"EtatInstallation\")) alerts.push({ id: \"FACTORY_INSTALLATION_INACTIVE\", code: \"FACTORY_INSTALLATION_INACTIVE\", severity: \"medium\", area: \"Factory\", message: \"Factory installation is not active.\", timestamp: now });\nif (bool(\"railmanual\", \"none\", \"MES.DirectionConflict\") || bool(\"misc\", \"none\", \"RailManual.MES.DirectionConflict\")) alerts.push({ id: \"RAIL_DIRECTION_CONFLICT\", code: \"RAIL_DIRECTION_CONFLICT\", severity: \"high\", area: \"RailManual\", message: \"Manual rail direction conflict detected.\", timestamp: now });\nif (bool(\"railmanual\", \"none\", \"MES.GlobalFault\") || bool(\"misc\", \"none\", \"RailManual.MES.GlobalFault\")) alerts.push({ id: \"RAIL_GLOBAL_FAULT\", code: \"RAIL_GLOBAL_FAULT\", severity: \"critical\", area: \"RailManual\", message: \"Rail manual global fault detected.\", timestamp: now });\n\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = {\n    active: alerts,\n    recent: alerts,\n    generatedAt: new Date().toISOString(),\n    sourceUpdatedAt: s.updatedAt,\n    pointCount: s.count || 0\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 380,
    "wires": [["http_resp_main"]]
  }
]
